.header{
    background: #a6672b;
    text-align: center; 
    color: #fffef2;
}
.header p{
    font-size: .9rem;
    line-height: 3;
    margin: 0;
}
.header a{
    color: #fffef2;
    font-weight: 700;
    text-decoration: none;
}
.header a:hover{
    text-decoration:underline;
}
.header .two{
    background: #252525;
    text-align: center; 
    color: #fffef2;
}
@media only screen and (max-width:688px){
    .header{
        text-align: left;
    }
    .header .two{
        text-align: left;
    }
    .header .header-one{
        padding: 15px 25px;
        line-height: 20px;
    }
    
    .two{
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;
        gap: 80px;
        align-items: center;
    }
    .two span{
        line-height: 20px;
    }
}